<div class="main_container">
<div class="main_color_container">
<div class="login_container">
    <h2>Welcome to Yes Bank</h2>
    <p>{{min}}</p>
    <form (ngSubmit)="login()">
    <input type="text" class="input_tags" id="acno"  [(ngModel)]="accno" name="accno" placeholder="Enter account no"><br>
    <input type="text" class="input_tags" id="pwd" [(ngModel)]="pswd" name="pswd" placeholder="Enter password"><br>
    <input type="submit" value="Login"><br>
    </form>
    <a routerLink="register">Forgot Password?</a>
    <input type="submit" (click)="registration()" value="Create new account">
    
</div>
</div>
</div>