<div class="main_container">
<div class="main_color_container">
<div class="login_container">
    <h4>Welcome to Yes Bank</h4>
    <h5>{{min}}</h5>
    <input type="text" clmara ass="input_tags" id="acno" [value]="accno" (change)="accnoChange($event)" placeholder="Enter account no"><br>
    <input type="text" class="input_tags" id="uname" placeholder="Enter name"><br>
    <input type="text" class="input_tags" id="pwd" (change)="passwordChange($event)" placeholder="Enter password"><br>
    <button class="btn" (click)="login()">Login</button><br>
</div>
</div>
</div>