<div class="main_container">
<div class="main_color_container">
<div class="login_container">
    <h2>Welcome to Yes Bank</h2>
    <p>{{min}}</p>
    <form [formGroup]="loginForm">
    <input type="text" class="input_tags" id="acno" formControlName="accno"  placeholder="Enter account no"><br>
    <input type="text" class="input_tags" id="pwd" formControlName="pswd"  placeholder="Enter password"><br>
    <input type="submit" (click)="login()" value="Login"><br>
    </form>
    <a routerLink="register">Forgot Password?</a>
    <input type="submit" (click)="registration()" value="Create new account">
    
</div>
</div>
</div>