<div class="main_container">
    <div class="main_color_container">
    <div class="login_container">
        <h2>Welcome to Yes Bank</h2>
        <p>{{min}}</p>
        
        <input type="text" clmara ass="input_tags" id="acno"  [(ngModel)]="accno" placeholder="Enter account no"><br>
        <input type="text" class="input_tags" id="pwd" [(ngModel)]="pswd" placeholder="Enter password"><br>
        <button class="btn" (click)="registration()">Create new Account</button>
    </div>
    </div>
    </div>
